@page "/TestPage"
@using Scan.Shared
@using Tag = Scan.Shared.Tag
<h3>@order</h3>

@code {
    [Inject] private ScanServices.ScanServicesClient ScanClient { get; set; }
    long order;
    protected override async Task OnInitializedAsync()
    {
        ScanData data = await ScanClient.GetScanDataAsync(new Tag {Material = "S1U10506370", SNum = "70-000832"});
        await base.OnInitializedAsync();
        order = data.ProdOrder;
    }

}