<Result Status="404"
        Title="404"
        SubTitle="Sorry, the page you visited does not exist.">
    <Extra>
        <Button Type="@ButtonType.Primary">
            <a href="/">
                Back Home
            </a>
        </Button>
    </Extra>
</Result>